@import 'reset.css';
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #393939;
  overflow-x: hidden;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

.border--pink {
  border: 10px solid rgb(249, 217, 213);
  border-radius: 2px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #393939;
  overflow-x: hidden;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

.border--pink {
  border: 10px solid rgb(249, 217, 213);
  border-radius: 2px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}
.header {
  background-color: rgb(254, 46, 22);
}

.header__back {
  padding: 10px 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  justify-self: auto;
  align-items: center;
  align-self: auto;
}

@media (min-width: 1200px) {
  .header__logo {
    padding-left: 20px;
  }
}
.header__button-container {
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 300px) {
  .header__logo {
    display: none;
  }
  .header__top {
    display: flex;
    justify-content: flex-end;
  }
  .header__button-container {
    margin: 20px;
  }
}
.hamburger {
  background-color: rgb(249, 217, 213);
  border: none;
  font-size: 30px;
}

.fas {
  color: white;
  font-size: 30px;
}

@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}
.name__top h3 {
  text-align: center;
}

@media (max-width: 1000px) {
  h3 {
    display: none;
  }
}
@media (max-width: 1001px) {
  .menu__top {
    display: none;
  }
}
.menu-item {
  display: inline-block;
  margin-right: 25px;
}

.menu-item a {
  color: rgb(57, 57, 57);
  text-decoration: none;
  font-size: 20px;
}

.menu_slide_left {
  position: fixed;
  top: 0;
  z-index: 99999;
  background: #10161e;
  min-height: 100vh;
  padding: 20px;
  left: 0;
}

.menu_slide_left {
  transform: translateX(-1000px);
  transition: all 0.3s;
}

@media (max-width: 1000px) {
  .menu_slide_left ul li {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0;
  }
  .menu_slide_left ul li a {
    color: rgb(255, 255, 255);
  }
}
.close {
  position: static;
  right: 32px;
  width: 42px;
  height: 42px;
  opacity: 1;
  cursor: pointer;
  margin-left: auto;
  margin-right: 15px;
  padding: 0px 20px;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.close:before, .close:after {
  position: absolute;
  left: auto;
  right: 35px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #fff;
  top: 14px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}
.section--first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

@media (max-width: 1200px) {
  .section--first {
    grid-template-columns: 1.4fr 1fr;
    grid-gap: 10px;
  }
}
@media (max-width: 1000px) {
  .section--first div:last-child {
    display: none;
  }
  .section--first {
    grid-template-columns: 0.8fr;
    justify-content: center;
  }
}
.section__button__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.section--first div {
  padding: 10px 20px 20px 20px;
}

.section--first > .section--first__element:last-child {
  background-image: url("/images/leki.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid rgb(249, 217, 213);
}

.section--second__element:last-child {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

.element__sub {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 20px auto;
  background: rgb(249, 217, 213);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.element__sub__icon {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.element__sub__icon i {
  font-size: 50px;
  margin-bottom: 20px;
}

.element__sub__icon div {
  align-self: center;
  margin-top: 80%;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .element__sub__icon div {
    margin-top: 0;
  }
}
.element__sub__title {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
}

@media (max-width: 768px) {
  .section--second__element:last-child {
    display: grid;
    grid-template-columns: 0.8fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .section--second__element:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    text-align: center;
    grid-gap: 20px;
  }
}
.section--fourth__element:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
  .section--fourth__element:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  .section--third,
.section--fourth {
    display: grid;
    grid-template-columns: 0.8fr;
    justify-content: center;
  }
  .section--fourth div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.box {
  float: left;
  width: 50%;
  text-align: left;
  font-size: 17px;
  line-height: 25px;
  padding-left: auto;
  justify-self: center;
}

@media (max-width: 1000px) {
  .box {
    width: 120%;
    margin-bottom: 50px;
  }
  .box .fa-clock {
    margin-bottom: 20px;
  }
}
.fa-clock, .fa-mortar-pestle {
  font-size: 40px;
  float: left;
  margin-right: 40px;
  margin-bottom: 50px;
}

strong {
  font-size: 25px;
  line-height: 35px;
  color: rgb(249, 217, 213);
}

.box span {
  font-size: 30px;
  line-height: 40px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .container {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}
section {
  padding: 50px 0;
}

.transparent {
  background-color: transparent;
}

.section__headline--second {
  margin: 0;
  font-size: 40px;
  color: rgb(254, 46, 22);
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .section__headline--second {
    font-size: 30px;
  }
}
.section__headline--third {
  color: rgb(57, 57, 57);
  font-size: 25px;
}

.section__button-container {
  border-radius: 55px;
  border-color: rgb(254, 46, 22);
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  padding: 14px 35px;
  background: rgb(254, 46, 22);
  color: rgb(57, 57, 57);
}

.title__subsection {
  color: #074880;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__subsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.section--third {
  background-color: rgb(252, 252, 252);
}

.ramka {
  padding-top: 50px;
  padding-bottom: 50px;
}

.grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  flex-direction: column;
}

.fa-clock, .fa-mortar-pestle {
  font-size: 40px;
  float: left;
  margin-right: 40px;
  margin-bottom: 50px;
}

strong {
  font-size: 25px;
  line-height: 35px;
  color: rgb(249, 217, 213);
}

.box span {
  font-size: 30px;
  line-height: 40px;
}

/*# sourceMappingURL=style.css.map */
