@import '../abstracts';

.label__input:focus {
  outline: none;
}





span.success {
  position: absolute;
  bottom: 15px;
  right: -10px;
}

.label.success div input {
  border-color: rgb(49, 241, 49);
}

.error {
  background-color: $color-submain;
  padding: 5%;
}

.label__error {
  color: $color-main;
}

.label__input.error {

  border-color: red;
  font-size: 9px;
  height: 20px;

}