@import '../abstracts';

.label__input:focus {
  outline: none;
}





span.success {
  position: absolute;
  
  right: -10px;
  background-color: none;
}

.label.success div input {
  border-color: rgb(49, 241, 49);
}