@import '../abstracts';

.header {
    background-color: $color-main;
}

.header__back {
    padding: 10px 0;
}

.header__container.flex {
    justify-content: space-between;
}


@media (min-width: 1200px) {
    .header__logo {
        padding-left: 20px;
    }
}

.header__button-container {
    margin-left: auto;
    margin-right: 10px;
    
}

@media(min-width: 1000px){
    .header__button-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 300px) {
    .header__logo {
        display: none;
    }
    .header__top.flex {
        justify-content: flex-end;
    }
    .header__button-container {
        margin: 20px;
    }
}

.hamburger {
    background-color: $color-submain;
    border: none;
    font-size: 30px;
}

.fas {
    color: white;
    font-size: 30px;
}

@media (min-width: 1000px) {
    .hamburger {
        display: none;
    }
}

.name__top h3 {
    text-align: center;
}

@media (max-width: 1000px) {
    h3 {
        display: none;
    }
}

@media (max-width: 1001px) {
    .menu__top {
        display: none;
    }
}

.menu-item {
    display: inline-block;
    margin-right: 25px;
}

.menu-item a {
    color: $color-font;
    text-decoration: none;
    font-size: 20px;
}

.menu_slide_left {
    position: fixed;
    top: 0;
    z-index: 99999;
    background: #10161e;
    min-height: 100vh;
    padding: 20px;
    left:0
}

.menu_slide_left {
    transform: translateX(-1000px);
    transition: all .3s;
}

@media (max-width: 1000px) {
    .menu_slide_left ul li {
    margin-left: 0; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0;
    a {
        color: $color-white;
    }
}

}

.close {
    position: static;
    right: 32px;
    width: 42px;
    height: 42px;
    opacity: 1;
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
    padding: 0px 20px;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.close:before, .close:after {
    position: absolute;
    left: auto;
    right: 35px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #fff;
    top: 14px;
}
