@import '../abstracts';

.form-title {
    padding: 10px;
}

.fieldset {

            margin: 10px;
            padding: 10px;
            position: relative;

            &__title {

                position: absolute;
                top: 0;
                left: 5px;
                line-height: 1;
                margin: -9px 0 0;
                background: #fff;
                padding: 0 3px; 
                font-size: calc(1rem + 1vh);

            }

        }
.orderDrugsForm-container {

    display: grid;
    
       
    
    }

#our-canvas {
    display: none;
}

.block {
    display: block;
}

.canvassize {
    width: 60px;
    height: 60px;
}

@media (max-width: 700px) {

    .form-send {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nameAndSurnameOrder'
            'orderDrugsFormContainer'
            'sendPrescriptionFieldset'
            'buttonSend';
        
        section {

           margin: 10px;

        }
    }

    .orderDrugsForm-container {

        grid-area: orderDrugsFormContainer;
        height: 600px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'electronicPrescriptionFieldset'
            'paperPrescriptionFieldset'
            'nonPrescriptionFieldset'
        ;

    }

    .electronicPrescriptionFieldset {

        grid-area: electronicPrescriptionFieldset;

        display: grid;
        grid-template-rows: 60% 40%;
        grid-template-areas:
            'electronicPrescriptionForm'
            'electronicPrescriptionOrder'


      
    }

    .paperPrescriptionFieldset {

        grid-area: paperPrescriptionFieldset;

    }

    .nonPrescriptionFieldset {

        grid-area: nonPrescriptionFieldset;

    }

    .sendPrescriptionFieldset {

        grid-area: sendPrescriptionFieldset;

    }

    .electronicPrescriptionOrder.fieldset, .paperPrescriptionOrder.fieldset, .nonPrescriptionOrder.fieldset {

        padding: 10px;

    }

    

    .electronicPrescriptionForm {

        grid-area: electronicPrescriptionForm;

        display: flex;
        justify-content: flex-start;
        align-items:center;
        flex-direction: column;

        & div {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            label {

                margin-bottom: 0;
                font-size: 13px;
            }

            input {

                font-size: 10px;
                margin-bottom: 5px;

            }
            
        }

    }

    .electronicPrescriptionOrder {

        grid-area: electronicPrescriptionOrder;
    }

    .nameAndSurnameOrder {

        grid-area: nameAndSurnameOrder;
    }

    .send {

        grid-area: buttonSend;

    }

}

@media (min-width: 760px) {

    .main.container {

        display: grid;
        grid-template-areas: 
            
            'orderDrugsFormContainer order';
        
        section {

           margin: 10px;

        }
    }

    .orderDrugsForm-container {
        display: grid;
        grid-gap: 0px 20px;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        grid-template-areas:
            
            'electronicPrescriptionFieldset order'
            'paperPrescriptionFieldset order'
            'nonPrescriptionFieldset order';
    }

    // .name {
    //     grid-area: name;

    // }

    .dataOfPrescription {
        grid-area: dataOfPrescription;
    }

    .electronicPrescriptionFieldset {
        grid-area: electronicPrescriptionFieldset;
    }

    .paperPrescriptionFieldset {
        grid-area: paperPrescriptionFieldset;
    }

    .nonPrescriptionFieldset {
        grid-area: nonPrescriptionFieldset;
    }

    .sendPrescriptionFieldset {
        grid-area: order;
    }

    .nameAndSurnameOrder.fieldset {
        padding: 30px 80px;
        border: 4px solid white;
        margin-bottom: 40px;
    }
    .electronicPrescriptionOrder.fieldset, .paperPrescriptionOrder.fieldset, .nonPrescriptionOrder.fieldset {
        padding: 60px 100px;
    }

}



.name, .email {
    position: relative;
    width: 70%;
  }

.legend {
    font-weight: 700;
    font-size: 1.2rem;
}


.label__input {
    margin-bottom: 30px;
    width: 100%;
}

.label__text {
    font-weight: 500;
    font-size: 1.2rem;
    color: $color-font;
}

.width-80 {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

// .fieldset {
//     height: 100%;
// }

// form {
//     padding:20px;
// }

.margin-bottom-20 {
    margin-bottom: 20px;
}




button {
    padding: 10px;

    // width: calc(6rem + 2vh);

    // color: white;
    background-color: $color-white;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
   

}

.background-pink {
  
    background-color: $color-submain
}



// input {
//     width: 100%;
// }