@import '../abstracts/';

.main {
    padding: 20px;
    width: 100%;
}

.form {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-areas:
    'username'
    'electronicPrescription'
    'paperPrescription'
    'nonPrescription'
    'formButton';

    @include respond(tablet) {
        grid-template-areas:
            'username username'
            'electronicPrescription order'
            'paperPrescription order'
            'nonPrescription order'
            'formButton formButton';
            grid-template-columns: 1fr 1fr;
    }

    &-electronicPrescription, &-paperPrescription, &-nonPrescription {
        width: 50%;
        @include flexAbsoluteCenter();
        flex-direction: column;
    }
}

.section {
    position: relative;
    background-color: $color-main;
    min-height: 100px;
    padding: 30px 10px 30px 10px;
    width: 100%;
    @include flexAbsoluteCenter;

    &__title {
        position: absolute;
        top: 0;
        left: 5px;
        font-size: 1.2rem;
        text-transform: uppercase;
        line-height: 1;
        margin: -9px 0 0;
        background-color: $color-pink;
        padding: 0 3px;
    }

    &__inputContainer {
      
        display: flex;
        flex-direction: column;
        padding: 5px;
       
        &>* {
            margin: 2px;
        }
    }

    &__label {
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    &-username {
        grid-area: username;
        flex-direction: column;
    }

    &-electronicPrescription {
        grid-area: electronicPrescription;
    }

    &-paperPrescription {
        grid-area: paperPrescription;
    }

    &-nonPrescription {
        grid-area: nonPrescription;
    }

    &-button {
        background-color: $color-pink;
        border: 2px solid $color-white;
        border-radius: 10px;
        margin-top: 15px;
        padding: 5px;
        font-size: 0.7rem;
        grid-area: formButton;
    }
}


.success {

    border: none;
    background-color: $color-pink;

}

.success {

    position: absolute;
    right: -10px;
    background-color: none;

}

.spanok {

    display: none;

}

.success.spanok {

    display: block;
    background-color: $color-main;

}

.spanwrong {

    display: none;

}

.spanwrong .error {

    display: none;
    background-color: none;

}